<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>638444783314-ri8upvbv3vcr7u52l5go0rra9r1rkdm9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.638444783314-ri8upvbv3vcr7u52l5go0rra9r1rkdm9</string>
	<key>API_KEY</key>
	<string>AIzaSyDH60m-QDBh9GQZ22LjpU-_xXmHbyxpqik</string>
	<key>GCM_SENDER_ID</key>
	<string>638444783314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappUi</string>
	<key>PROJECT_ID</key>
	<string>flutter-whatsapp-10e9d</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-whatsapp-10e9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638444783314:ios:8616fa620e21f62eb7cf0b</string>
</dict>
</plist>